#home-screen .status-header,
#home-screen .header__menu {
  position: fixed;
  box-sizing: border-box;
}

.header__menu {
  width: 100%;
  top: 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  z-index: 2;
}

.header__menu--column {
  width: 33%;
}

.header__menu--column:last-child {
  display: flex;
  justify-content: flex-end;
}

.header__title--little {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.main-screen {
  margin-top: 120px;
}

.story-slide {
  display: flex;
  align-items: center;
  width: 100vw;
}

.story-slide__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
}

.story-slide__user img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: var(--border);
  padding: 6px;
}

.story-slide__user--name {
  margin-top: 5px;
}

.user-post__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-post__title .user-post__column {
  display: flex;
  align-items: center;
  padding: 15px;
}

.user-post__title .user-post__column img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: var(--border);
  padding: 3px;
}

.user-post__title .user-post__column:last-child {
  margin-right: 10px;
}

.user-post__title__name {
  display: flex;
  flex-direction: column;
}

.user-post__title__name span {
  padding: 3px 10px;
}

.user-post__title__name span:first-child {
  font-weight: 900;
}

.user-post__photo img {
  width: 100%;
}

.user-post__comment {
  padding: 10px;
}

.user-post__mark {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 15px;
}

.user-post__mark .user-post__column {
  width: 33%;
}

.user-post__mark .user-post__column i {
  padding-right: 15px;
}

.user-post__mark .user-post__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.user-post__mark .user-post__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.user-post__mark .user-post__column:nth-child(2) div {
  margin: 0px 2px;
}

.user-post__slide--round {
  background-color: rgba(0, 0, 0, 0.5);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.user-post__slide--round:first-child {
  background-color: var(--blue);
}

.user-post__write {
  display: flex;
  flex-direction: column;
}

.user-post__write .user-post__column {
  padding-bottom: 13px;
}

.user-post__write .user-post__column span:first-child {
  font-weight: 600;
}

.user-post__write .user-post__column img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-post__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-post__add .user-post__column:first-child {
  opacity: 0.5;
}

.user-post__add .user-post__column:first-child {
  display: flex;
  align-items: center;
}

.user-post__add .user-post__column i {
  padding-right: 10px;
}

.user-post__time {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.and-dott {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
}

.user-post__time span {
  margin-right: 5px;
  font-size: 14px;
  opacity: 0.3;
}

.user-post__time span:last-child {
  font-weight: 600;
  opacity: 1;
}

@keyframes splashanimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 6;
  animation: splashanimation 2s ease-in-out forwards;
  animation-delay: 1.5s;
}

#splash-screen i {
  color: #a52256;
}

.splash-screen__end {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-screen__end span:first-child {
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.splash-screen__end span:last-child {
  color: #a52256;
  font-weight: 800;
}
