.profile-name {
  position: fixed;
  top: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  box-sizing: border-box;
}

.profile-name__column span {
  font-size: 25px;
  font-weight: 800;
}

.profile-name__column:last-child i {
  padding-left: 25px;
}

.profile-screen {
  margin-top: 150px;
}

.user-bar {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.user-bar__column:last-child {
  display: flex;
  align-items: center;
}

.user-bar__column img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-right: 40px;
}

.user-bar__column:first-child {
  position: relative;
}

.user-bar__column i {
  position: absolute;
  bottom: 7px;
  right: 40px;
  color: var(--blue);
}

.user-bar__column--span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.user-bar__column--span span {
  padding-bottom: 5px;
}

.edit-btn {
  display: flex;
  justify-content: center;
  padding: 25px 20px;
}

.edit-btn div {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-weight: 800;
  padding: 10px 0px;
}

.upload-photo {
  display: flex;
  justify-content: center;
}

.upload-photo__column {
  width: 50%;
  border-bottom: 1px solid black;
  text-align: center;
}

.upload-photo__column i {
  padding-bottom: 13px;
}

.upload-photo__column:last-child {
  opacity: 0.3;
}

.share-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.share-photo__column {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 6px solid black;
  border-radius: 50%;
}

.share-photo__column span:first-child {
  font-size: 25px;
  font-weight: 900;
  padding: 20px 0px;
}

.share-photo__column span:nth-child(2) {
  padding: 8px 80px;
  color: rgba(0, 0, 0, 0.7);
}

.share-photo__column span:last-child {
  padding-top: 30px;
  color: var(--blue);
}
