#no-mobile {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
